.products-week {
  padding-top: 65px;
  font-family: "DMSans", sans-serif;
  font-weight: 700;

  &__title {
    text-align: center;
    margin-bottom: 30px;
  }

  &__btns {
    margin-bottom: 80px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 40px 30px;
  }
}

.product-accent {
  padding-top: 180px;

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 870px;
    width: 100%;
    height: 390px;
    position: relative;
    padding: 70px 140px 70px 385px;
    background-color: $orange-30;
    color: $blue-80;
  }

  &__image {
    position: absolute;
    right: 500px;
    bottom: 80px;
    max-width: 350px;
    max-height: 400px;
  }

  &__title {
    font-family: "DMSans", sans-serif;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 20px;
  }

  &__text {
    line-height: 1.8;
    margin-bottom: 28px;
    @include overflow (4)
  }
}