@font-face {
  font-family: "Rubik";
  font-weight: 300;
  font-style: normal;
  src:
    url('../fonts/Rubik-Light.woff2') format('woff2'),
    url('../fonts/Rubik-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src:
    url('../fonts/Rubik-Regular.woff2') format('woff2'),
    url('../fonts/Rubik-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 500;
  font-style: normal;
  src:
    url('../fonts/Rubik-Medium.woff2') format('woff2'),
    url('../fonts/Rubik-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  font-weight: 400;
  font-style: normal;
  src:
    url('../fonts/DMSans-Regular.woff2') format('woff2'),
    url('../fonts/DMSans-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  font-weight: 500;
  font-style: normal;
  src:
    url('../fonts/DMSans-Medium.woff2') format('woff2'),
    url('../fonts/DMSans-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "DMSans";
  font-weight: 700;
  font-style: normal;
  src:
    url('../fonts/DMSans-Bold.woff2') format('woff2'),
    url('../fonts/DMSans-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?en900');
  src: url('../fonts/icomoon.eot?en900#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?en900') format('truetype'),
    url('../fonts/icomoon.woff?en900') format('woff'),
    url('../fonts/icomoon.svg?en900#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}



// .icon-message:before {
//   content: "\e900";
// }
// .icon-envelop:before {
//   content: "\e945";
// }
// .icon-calendar:before {
//   content: "\e953";
// }
// .icon-user:before {
//   content: "\e971";
// }
