
$orange-20: #fef7f0;
$orange-30: #feefe2;
$orange-90: #fcd7b6;
$white: #ffffff;
$black: #000000;

$grey-30: #8b8b8b;
$grey-40: #7b7b7b;
$grey-80: #585858;


$silver-20: #f8f8f8;
$silver-30: #edf1f4;
$silver-40: #e0e0e0;
$silver-50: #dae4e9;

$blue-30: #a3bbc8;
$blue-50: #436372;
$blue-70: #234969;
$blue-80: #243f4d;
$blue-90: #1f2044;

$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1500px;

@mixin overflow  ($line-clamp){
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-clamp;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
