@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 48px 0 45px;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  display: flex;
  @extend %rubik-500;
  font-weight: 600;
  font-size: 15px;
  color: $blue-50;

  &__item:not(:last-child) {
    margin-right: 33px;
  }
}

.user-nav {
  display: flex;
  justify-content: space-between;
  width: 320px;

  &__search,
  &__btn {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  &__links {
    width: 178px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }

  &__links::before {
    content: "";
    width: 1px;
    height: 32px;
    position: absolute;
    background-color: $orange-20;
    z-index: 2;
  }

  &__search,
  &__btn,
  &__link {
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__search {
    background-image: url(../images/icons/search.svg);
    background-color: $silver-30;
  }

  &__btn {
    background-color: $blue-30;
    background-image: url(../images/icons/layout.svg);
    border: none;
  }

  &__link {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: $orange-90;

    &--liked {
      background-image: url(../images/icons/heart.svg);
      border-radius: 25px 0 0 25px;
    }

    &--cart {
      background-image: url(../images/icons/cart.svg);
      border-radius: 0 25px 25px 0;
    }
  }

  &__num {
    position: absolute;
    top: 8px;
    right: 25px;
    width: 17px;
    height: 17px;
    background-color: $white;
    border-radius: 50%;
    @extend %dmsans-400;
    font-size: 10px;
    line-height: 17px;
    text-align: center;
  }
}

.promo {

  .top-slider {
    @extend %rubik-500;
    background-color: $orange-90;
    position: relative;

    &::after {
      content: "";
      width: 634px;
      height: 634px;
      border-radius: 50%;
      background: linear-gradient(89deg, rgba(255, 255, 255, 0%) 0%, rgb(255, 255, 255) 100%);
      position: absolute;
      top: 50%;
      left: 52%;
      transform: translateY(-50%);
    }

    &__items {
      z-index: 2;
    }

    &__item {
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      height: 820px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        font-size: 18px;
        line-height: 1.6;
        color: $blue-50;
        max-width: 375px;
        margin-bottom: 35px;
      }
    }

    &__title {
      @extend %rubik-500;
      font-size: 72px;
      color: $blue-80;
      text-transform: uppercase;
      margin-bottom: 35px;
    }

    &__link {
      @extend %link-colors;
      font-size: 15px;
      width: 200px;
      padding: 20px 40px 20px 25px;
      position: relative;

      &::after {
        content: "";
        width: 25px;
        height: 10px;
        background-image: url(../images/icons/arrows-right.png);
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &__image {
      max-width: 700px;
    }

    .slick-dots {
      display: flex;
      justify-content: center;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 45px;

      li:not(:last-child) {
        margin-right: 12px;
      }

      button {
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        font-size: 11px;
        opacity: 0.302;
        padding: 0;
      }

      .slick-active {

        button {
          background-color: $white;
          color: $blue-80;
          opacity: 1;
        }
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    background-color: $orange-20;
    @extend %dmsans-400;
    position: relative;

    &:before,
    &:after {
      content: "";
      height: 100%;
      width: 1px;
      background-color: $silver-30;
      position: absolute;
      top: 0;
    }

    &:before {
      left: 33%;
    }

    &:after {
      right: 33%;
    }
  }

  &__item {
    width: 290px;
    padding-left: 80px;
    position: relative;

    p {
      line-height: 1.8;
    }

    &::before {
      content: "";
      width: 55px;
      height: 55px;
      background-repeat: no-repeat;
      background-position: top, center;
      position: absolute;
      left: 0;
    }

    &--support::before {
      background-image: url(../images/icons/support.png);
    }

    &--delivery::before {
      background-image: url(../images/icons/delivery.png);
    }

    &--payment::before {
      background-image: url(../images/icons/payment.png);
    }
  }

  &__title {
    @extend %dmsans-700;
  }
}





.footer {
  padding: 80px 0 35px;
  font-size: 14px;
  line-height: 1.2;
  color: $grey-40;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 72px;
  border-bottom: 1px solid $silver-50;

  &__contact {
    width: 200px;
    font-style: normal;
  }

  &__logo,
  &__title {
    display: inline-block;
    margin-bottom: 22px;
  }

  &__title {
    min-height: 40px;
    display: flex;
    align-items: center;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.3;
    color: $purple;
  }

  &__item {
    margin-bottom: 17px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    width: 170px;
  }

  &__news {
    display: flex;
    flex-direction: column;
    width: 270px;
  }

  &__news p {
    line-height: 1.7;
    margin-bottom: 30px;
  }

  &__form {
    display: flex;
  }

  &__input,
  &__button {
    padding: 12px 15px;
    border: none;
  }

  &__input {
    max-width: 170px;
    background-color: $orange-20;

    &::placeholder {
      color: $blue-70;
      font-size: 12px;
    }
  }

  &__button {
    background-color: $blue-30;
    color: $white;
    width: 100%;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;

  &__menu {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 25px;
    position: relative;

    &::after {
      content: "";
      height: 16px;
      width: 1px;
      position: absolute;
      right: -12px;
      top: 0;
      bottom: 0;
      background-color: $grey-40;
    }
  }
}



@import 'media';