.header {
  padding: 48px 0 45px;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  display: flex;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: $blue-50;
  padding-left: 145px;

  &__item:not(:last-child) {
    margin-right: 36px;
  }
}

.user-nav {
  display: flex;
  justify-content: space-between;
  width: 320px;

  &__icon {
    width: 20px;
    height: 20px;
    fill: $blue-80;
    transition: fill 0.4s;
  }

  &__links {
    width: 178px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }

  &__links::before {
    content: "";
    width: 1px;
    height: 32px;
    position: absolute;
    background-color: $orange-20;
    z-index: 2;
  }

  &__link {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    background-color: $orange-90;
    transition: background-color 0.4s, transform 0.4s, border-color 0.4s;

    &--liked {
      border-radius: 25px 0 0 25px;
    }

    &--cart {
      border-radius: 0 25px 25px 0;
    }

    &:focus {
      border-color: $black;
    }

    &:hover {
      background-color: $blue-30;

      .user-nav__icon {
        fill: $white;
      }
    }

    &:active {
      transform: scale(0.85);
    }
  }

  &__num {
    position: absolute;
    top: 8px;
    right: 25px;
    width: 17px;
    height: 17px;
    background-color: $white;
    border-radius: 50%;
    font-family: "DMSans", sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 17px; // для выравнивания по центру
    text-align: center;
  }
}