.articles + .partners {
  height: 436px;
  padding-top: 260px;
  margin-top: -170px;
  display: block;
}

.partners {
  background-color: $orange-30;
  height: 250px;
  display: flex;
  align-items: center;

  &__item {
   display: flex !important;
   justify-content: center;
   align-items: center;
   height: 100px;
  }

  &__img {
    max-width: 200px;
    max-height: 100px;
    object-fit: scale-down;
  }
}